div.flex-container{
    display:flex;
    justify-content: space-between; 
    align-items: end;
    flex-wrap: wrap;
    gap: 50px;
}

div.item{
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 35px;
    border: 10px solid blanchedalmond;
}

div#item-one{
    order: 1;
}

div#item-two{
    order: 2;
}

div#item-three{
    order: 3;
}

/* Display valor flex

Nos permite distribuir n cantidad de elementos que se encuentran dentro
de un contenedor ancestro con esta propiedad, de manera que su tamaño se 
mantenga igual, indepedendientemente, del espacio disponible para que se 
muestren los mismos en la pantalla de mi navegador.

justify-content: justifica los elementos dentro del div ancestro (en forma horizontal) y, esto 
se ve afectado por el valor seleccionado.
*space- aurond: justifica los elementos creando un espacio alrededor de cada uno de ellos
*space-between: justifica los elementos creando un espacio entre cada uno de los mismos.

align-items: mueve o cambia de lugar, en sentido vertical, los elementos dentro de mi contenedor ancestro.
Puedo pasarlos hacia arriba (por defecto), hacia en medio (center) o hasta el final de mi contenedor ancestro (end).

flex- wrap: crea una especie de 'envoltorio' sobre cada uno de los elementos dentro del contenedor ancestro, de manera que podemos evitar que, si el tamaño de la 
pantalla no es suficiente para mostrar los elementos dentro del viewport, estos no se empalmen ni se pierdan en la pantalla, sino que
mantengan siempre el mismo tamaño y se distribuyan a lo largo de la misma sin importat que tan grande o chica es la pantallla.

-order: puedo modificar el orden en el que los elementos aparecen dentro de mi 
contenedor ancestro, modificando para el valor de la propiedad un valor númerico que servirá de referencia para 
evaluar con respecto al resto de elementos como deberán aparecer ordenadaos. El elemento con el valor númerico más grande, siempre se coloca al final. 

*/